# Binaries
bin/
wg-gateway

# Config
config.yaml

# Generated Deployment Files
deploy/

# Docker/Proxy data (if run locally)
letsencrypt/
wireguard/
traefik_dynamic/

# OS files
.DS_Store

# Frontend
node_modules/
dist/

# Go
vendor/
*.exe
*.test
*.prof
